<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cardihealt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CardiHealt">
        <activity android:name=".Formularios.FormularioInfoPersonal3"></activity>
        <activity android:name=".Formularios.FormularioInfoPersonal2" />
        <activity android:name=".Formularios.FormularioInfoPersonal1" />
        <activity android:name=".Menu" />
        <activity android:name=".Formularios.FormularioInfoPersonal" />
        <activity android:name=".Registro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>