<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cardihealt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_index"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_index"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Entrenamiento.Entrenamiento_Recomendacion"></activity>
        <activity android:name=".Medico.Informes_Medico.EnvioCorreo" />
        <activity android:name=".Medico.Informes_Medico.Detalle_Informe" />
        <activity android:name=".Medico.Informes_Medico.MostrarInformes" />
        <activity android:name=".Informacion.Informacion" />
        <activity android:name=".Informes.InformeFinal" />
        <activity android:name=".Entrenamiento.Count_Down" />
        <activity android:name=".Entrenamiento.Cronometro" />
        <activity android:name=".Entrenamiento.Informacion_Entrenamiento" />
        <activity android:name=".Nutricion.Informacion_Nutricion" />
        <activity android:name=".Entrenamiento.Entrenamiento" />
        <activity android:name=".Nutricion.Nutricion" />
        <activity android:name=".Recomendaciones.Recomendaciones" />
        <activity android:name=".Informes.Informe" />
        <activity android:name=".Formularios.FormularioInfoPersonal2" />
        <activity android:name=".Formularios.FormularioInfoPersonal1" />
        <activity android:name=".UsarioMenu.Menu" />
        <activity android:name=".Medico.Menu_Medico" />
        <activity android:name=".Formularios.FormularioInfoPersonal" />
        <activity android:name=".LoginSingup.Registro" />
        <activity android:name=".LoginSingup.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>